---
import MainLayout from '../../layouts/main.astro';
import Navlang from '../../components/navlang/navlang.astro';
import ThemeSelector from '../../components/theme-selector/theme-selector.astro';
import About from '../../sections/about/about.astro';
import Experiences from '../../sections/experiences/experiences.astro';
import Education from '../../sections/education/education.astro';
import Technologies from '../../sections/technologies/technologies.astro';
import StudyTypes from '../../enums/study-types.js';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import resume from '../../data/resume-en.json';

import '../../styles/styles.scss';
import 'bootstrap-icons/font/bootstrap-icons.min.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { aboutMe, experience, knowledge } = resume;

const { name, surnames, title, description, avatar } = aboutMe.profile;
const { relevantLinks } = aboutMe;
const { jobs } = experience;
const { studies, hardSkills } = knowledge;
const officialDegrees = studies.filter(
  (study) => study.studyType === StudyTypes.degree,
);
const certifications = studies.filter(
  (study) => study.studyType === StudyTypes.certification,
);

const fullname = `${name} ${surnames}`;
---

<MainLayout title={fullname} avatar={avatar}>
  <div
    class:list={[
      'd-none d-sm-none d-md-none d-lg-flex d-xl-flex justify-content-end p-4 gap-3',
    ]}
  >
    <ThemeSelector />
    <Navlang />
  </div>
  <About
    fullname={fullname}
    title={title}
    description={description}
    relevantLinks={relevantLinks}
  />
  <Experiences jobs={jobs} />
  <Technologies
    technologies={hardSkills}
    id='technologies'
    title={t('nav.technologies')}
  />
  <Education
    studies={officialDegrees}
    id='education'
    title={t('nav.education')}
  />
  <Education
    studies={certifications}
    id='certifications'
    title={t('nav.certifications')}
  />
</MainLayout>
